.form {
	width: 40rem;
	margin: 100px auto;
	text-align: center;
}

.h2 {
	margin-top: 20px;
  text-align: center;
  font-size: 40px;

}
.form label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5rem;
	background-color:  #f7f5ef;
}

.form input {
	display: block;
	text-align: center;
	width: 100%;
	font: inherit;
	font-size: 1.5rem;
	padding: 0.5rem;
	border-radius: 4px;
	background-color: #f7f5ef;
	border: none;
	border-bottom: 2px solid #494844;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	margin-bottom: 0.5rem;
}

.form label {
  border: none;
	border-bottom: 2px solid #494844;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	margin-bottom: 0.5rem;
  margin-top: 50px;
}
.form img {
	width: 350px;
	padding: 20px;
}

.form button {
	font: inherit;
	background-color: #ebb002;
	border: 1px solid black;
	color: #201d0f;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	width: 200px;
}

.form button:hover,
.form button:active {
	background-color: #ebc002;
	border-color: #ebc002;
}

.link {
	margin-top: 20px;
}
