.postItem {
	display: flex;
	flex-direction: column;
	align-items: left;
	flex-basis: auto;
	text-align: left;
	justify-content: left;
	width: fit-content;
	margin-left: 15%;
	height: fit-content;
	word-break: break-all;
	word-wrap: break-word;
	width: 500px;
}

.date {
	font-size: 1px;
	font-style: italic;
	margin-left: 50px;
	margin-top: 10px;
}

.postTitle {
	text-align: left;
	display: flex;
	align-items: left;
	flex-direction: row;
}

.postTitle img {
	width: 30px;
	height: 30px;
	border-radius: 20px;
	margin-right: 10px;
	margin-top: 10px;
}

.postTitle span {
	font-size: 30px;
	font-style: italic;
}

.postContent {
	height: 100%;
	width: 500px;
	min-height: 100%;
	border: solid 0.5px rgb(226, 204, 204);
	border-radius: 10px;
	text-align: left;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	flex: 1;
}

.postContent h4 {
	text-align: left;
	width: 100%;
	font-size: 20px;
	margin-left: 15px;
	flex-basis: auto;
}

.postContent span {
	margin-left: 15px;
	width: 100%;
	width: fit-content;
	font-size: medium;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	text-align: start;
	flex-basis: auto;
}

.postItemButtons {
	display: flex;
	flex-direction: row;
	margin-top: 5px;
}

.postItemButtons button {
	border-radius: 10px;
	padding: 5px;
	margin-right: 20px;
	width: 200px;
	margin-bottom: 20px;
	background-color: #ebb002;
	border: 1px solid black;
}
