.posts {
	text-align: left;
	display: flex;
	text-align: left;
	align-items: left;
	justify-content: left;
	flex-direction: column;
}

.posts h2 {
	text-align: center;
	margin-top: 40px;
}

.posts ul {
	padding: 5px;
    height: fit-content;
}

.posts li {
	list-style: none;
    height: fit-content;
}

.posts p {
	font-size: 40px;
	text-align: center;
	margin-top: 40px;
}
