.section {
	background: rgb(19, 13, 5);
    background-color: rgb(252, 252, 252);
	padding: 20px;
	width: 100px;
	line-height: .7em;
}

.section button {
	display: flex;
	-ms-flex-align: start;
	justify-content: space-between;
	margin: auto;
}
